extends ../layouts/layout

block content
    form(action="/users/login", method="POST")
        fieldset.form-group
            legend.border-bottom.mb-4 Sign In
            <!--Username-->
            div.form-group
                #{form.username.label}.form-control-label Username
                if form.username.errors.length > 0
                    #{form.username.field}.form-control.form-control-lg.is-invalid(value=form.username.text)
                    div.invalid-feedback
                        for error in form.username.errors
                            span= error
                else
                    #{form.username.field}.form-control.form-control-lg(value=form.username.text)

            <!--Password-->
            div.form-group
                #{form.password.label}.form-control-label Password
                if form.password.errors.length > 0
                    #{form.password.field}.form-control.form-control-lg.is-invalid(value=form.password.text)
                    div.invalid-feedback
                        for error in form.password.errors
                            span= error
                else
                    #{form.password.field}.form-control.form-control-lg(value=form.password.text)

        <!--Submit-->
        div.form.group
            button.btn.btn-outline-info(type="submit") Login

    div.border-top.pt-3
    small.text-muted
        span Need an Account? 
            a.ml-2( href="#") Sign Up
