extends ../layouts/layout

block content
    form(action="/users/register", method="POST")
        fieldset.form-group
            legend.border-bottom.mb-4 Register User
            <!--Username-->
            div.form-group
                #{form.username.label}.form-control-label Username
                if form.username.errors.length > 0
                    #{form.username.field}.form-control.form-control-lg.is-invalid(value=form.username.text)
                    div.invalid-feedback
                        for error in form.username.errors
                            span= error
                else
                    #{form.username.field}.form-control.form-control-lg(value=form.username.text)

            <!--Email-->
            div.form-group
                #{form.email.label}.form-control-label Email
                if form.email.errors.length > 0
                    #{form.email.field}.form-control.form-control-lg.is-invalid(value=form.email.text)
                    div.invalid-feedback
                        for error in form.email.errors
                            span= error
                else
                    #{form.email.field}.form-control.form-control-lg(value=form.email.text)

            <!--Password-->
            div.form-group
                #{form.password.label}.form-control-label Password
                if form.password.errors.length > 0
                    #{form.password.field}.form-control.form-control-lg.is-invalid(value=form.password.text)
                    div.invalid-feedback
                        for error in form.password.errors
                            span= error
                else
                    #{form.password.field}.form-control.form-control-lg(value=form.password.text)


            <!-- Confirm Password -->
            div.form-group
                #{form.confirmPassword.label}.form-control-label Confirm Password
                if form.confirmPassword.errors.length > 0
                    #{form.confirmPassword.field}.form-control.form-control-lg.is-invalid(value=form.confirmPassword.text)
                    div.invalid-feedback
                        for error in form.confirmPassword.errors
                            span= error
                else
                    #{form.confirmPassword.field}.form-control.form-control-lg(value=form.confirmPassword.text)

        <!--Submit-->
        div.form.group
            button.btn.btn-outline-info(type="submit") Create

    div.border-top.pt-3
    small.text-muted
        span Already Have an account?
            a.ml-2( href="#") Sign In